streamlit>=1.10.0
transformers>=4.11.3
huggingface-hub>=0.0.17
altair>=3.2.0
attrs>=25.1.0
blinker>=1.9.0
cachetools>=4.0
click>=7.0
importlib-metadata>=1.4
numpy>=1.21.0
packaging>=24.0
pandas>=0.21.0
pillow>=6.2.0
protobuf>=4.0.0
pyarrow>=7.0
pydeck>=0.1.dev5
pympler>=0.9
python-dateutil>=2.9.0
requests>=2.25.0
toml>=0.10.2
tornado>=5.0
tzlocal>=5.0
validators>=0.18.2
gitpython>=3.1.0
typing-extensions>=3.10.0
semver>=3.0.0
watchdog>=0.10.0
filelock>=3.0.0
python-dotenv
google-generativeai

